<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Info About NFT</title>
    <style>
body{
  background-color: #C0C0C0;
}
h3
{color: black;
letter-spacing: 3px;
margin:20px;
}
p{
  font-style: italic;
  margin:20px;}

.container {
    display: grid;
    background-color: white;
    width:100%;
    height: 100%;
    border-radius:10px;
}

</style>
</head>
<body>
  <div class="container">
  <h3><center>Sorry, but we dont have this nft, we will upload it soon, try it again</center></h3>
</div>

</body></html>
